<div class="flexslider carousel">
        <ul class="slides">
            @for (int i = 0; i < 22; i++)
            {
                <li>
                    <img src="http://placehold.it/91x72/345432" />
                </li>
            }
            </ul>
    <div class="custom-navigation">
        <a href="#" class="flex-prev glyphicon glyphicon-chevron-left"></a>
        <div class="custom-controls-container"></div>
        <a href="#" class="flex-next glyphicon glyphicon-chevron-right"></a>
    </div>
    </div> <!--/Flexslider-->
