body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.carousel-control {
  padding-top:10%;
  width:5%;
}

.custom-navigation a {
    display: block;
    width: 73px;
    height: 72px;
    color: #616161;
    overflow: hidden;
    text-align: center;
    line-height: 72px;
    text-decoration: none;
    background: #eff0ee;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index:10;
        font-size: 30px;
}
a.flex-next {
    right: 0px;
}

.margin-tops{
    margin-top:10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0;
    border-bottom-color: #167ac6 !important;
    border-bottom: 1px solid;
}
.image-tron {
    height: 60px;
    width: 100px;
}
.video-content{
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.2);
}
.progress {
    height: 20px;
   overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px; 
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress, .progress-bar{
    height: 39px;
}
/*.progress-bar{
	padding: 4px;
}*/
.custom-group-progress{
    position: relative;
    display: table;
    border-collapse: separate;
}
.custom-btn-progress{
    padding: 10px 18px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    color: #333333;
    text-align: center;
    background-color: #e6e6e6;
    border: 1px solid #cccccc;
    border-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
        display: table-cell;
}
.custom-btn-progress:first-child {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.custom-btn-progress:last-child{
     border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
        display: table-cell;
}
/*chat style*/
.chat-panel{
        height: 248px;
    overflow-y: auto;
}
.comment-content {
    position: relative;
    float: left;
    overflow: auto;
}
.chat-user {
    float: left;
    position: relative;
    padding-right: 10px;
}
